
<h1 class="text-xl font-bold mb-6">
  Components Order - #<%= @order.id %> <%= @order.name %> <%= @version.quotation_number %>
</h1>

<h2 class="text-lg font-semibold mb-4">Aluminium</h2>

<% @aluminium_components.each do |supplier, components| %>
  <h3 class="text-md font-bold mt-4 mb-2 flex justify-between items-center">
  <span><%= supplier&.name || "No Supplier" %></span>
  <%= link_to "Print", print_order_components_orders_path(@order, supplier_id: supplier.id), target: "_blank", class: "btn btn-sm btn-outline ml-2" %>

</h3>
  <div class="overflow-x-auto border rounded mb-4">
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Code</th>
          <th>Name</th>
          <th>Total Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% components.each do |component, total_quantity| %>
          <tr>
            <td><%= image_or_placeholder(component.image, 100, 100) %></td>
            <td><%= component.code %></td>
            <td><%= component.name %></td>
            <td><%= total_quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

