<div id="<%= dom_id component %>" class="card flex flex-col gap">
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Code:</h4>
    <p class="leading-none"><%= component.code %></p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Color:</h4>
    <p class="leading-none"><%= component.color %></p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Unit:</h4>
    <p class="leading-none"><%= component.unit %></p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Min quantity:</h4>
    <p class="leading-none"><%= component.min_quantity %></p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Price:</h4>
    <p class="leading-none"><%= component.price %></p>
  </div>
</div>
