<%= form_with(model: component, html: { contents: true, data: {controller: "dynamic-units"}}) do |form| %>
  <% if component.errors.any? %>
    <div class="alert alert--negative flex flex-col gap-half mbe-4" role="alert">
      <h2 class="font-medium leading-none"><%= pluralize(component.errors.count, "error") %> prohibited this component from being saved:</h2>
      <ul class="text-sm mis-3" style="list-style: disc">
        <% component.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex justify-center items-center">
    <%= component.image.attached? ? image_or_placeholder(component.image, 200, 200) : "" %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :code, class: "text-sm font-medium leading-none" %>
    <%= form.text_field :code, class: "input" %>
  </div>
  <%# Category %>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :category, class: "text-sm font-medium leading-none" %>
    <%= form.select :category, options_for_select(Component.categories.keys.map { |c| [c.titleize, c] }, selected: component.category), {include_blank: "Select category..."}, data: { controller: "combobox"} %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :name, class: "text-sm font-medium leading-none" %>
    <%= form.text_field :name, class: "input" %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :color, "Color (Can use comma)" , class: "text-sm font-medium leading-none" %>
    <%= form.text_field :color, class: "input"  %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :note, class: "text-sm font-medium leading-none" %>
    <%= form.text_area :note, rows: 3, class: "input"  %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :unit, class: "text-sm font-medium leading-none" %>
    <%= form.select :unit, Component.units.keys, {include_blank: "Select unit..."}, data: { controller: "combobox", action: "change->dynamic-units#updateUnitText", dynamic_units_target: "unitSelect" }  %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :length, "Length, mm", class: "text-sm font-medium leading-none" %>
    <%= form.number_field :length, min: 0, step: 0.1, class: "input" %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :width, "Width, mm", class: "text-sm font-medium leading-none" %>
    <%= form.number_field :width, min: 0, step: 0.1, class: "input" %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :height, "Height, mm", class: "text-sm font-medium leading-none" %>
    <%= form.number_field :height, min: 0, step: 0.1, class: "input" %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :thickness, "Thickness, mm", class: "text-sm font-medium leading-none" %>
    <%= form.number_field :thickness, min: 0, step: 0.1, class: "input" %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :weight, "Weight, kg", class: "text-sm font-medium leading-none" %>
    <%= form.number_field :weight, min: 0, step: 0.1, class: "input" %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :min_quantity, class: "text-sm font-medium leading-none" %>
    <div class=" flex items-center gap">
      <%= form.number_field :min_quantity, min: 0, step: 0.1, class: "input input--actor" %>
      <span data-dynamic-units-target="unitText">Units</span>
    </div>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :price, class: "text-sm font-medium leading-none" %>
    <%= form.number_field :price, class: "input" %>
  </div>
  <div class="flex flex-col gap-half mbe-4">
    <%= form.label :image, class: "text-sm font-medium leading-none" %>
    <%= form.file_field :image, accept: "image/*", class: "input" %>
  </div>
  <div class="inline-flex items-center mbs-2 mie-1">
    <%= button_tag tag.span(component.persisted? ? "Update Component" : "Create Component"), class: "btn btn--primary btn--loading" %>
  </div>
<% end %>
