<tr data-controller="link" data-link-href-value="<%= edit_component_path(component) %>" class="cursor-pointer hover:bg-gray-50 transition">
  <th><%= component.id %></th>
  <td><%= component.category.capitalize %></td>
  <td><%= image_or_placeholder(component.image, 100, 100) %></td>
  <th><%= component.code %></th>
  <th><%= link_to component.name, component, data: {turbo_frame: "_top"} %></th>
  <th><%= component.color %></th>
  <th><%= component.unit %></th>
  <th><%= component.length %></th>
  <th><%= component.width %></th>
  <th><%= component.thickness %></th>
  <th><%= component.weight %></th>
  <th><%= component.min_quantity %> <%= component.unit %></th>
  <td class="text-end"><%= component.price.format %></td>
  <td>
    <%= dropdown_button(
      links: [
        { name: "Edit", url: edit_component_path(component), data: {turbo_frame: "_top"} },
        { name: "Make a copy", url: new_component_path(template_id: component.id), data: {turbo_frame: "_top"} },
        :separator,
        { name: "Delete", url: component, data: { turbo_method: :delete, turbo_confirm: "Are you absolutely sure?" } }
      ]
    )
    %>
  </td>
</tr>
