<!-- app/views/entries/_entry.html.erb -->
<tr>
<td><%= entry.date.strftime('%d.%m.%y') %></td>
<td><%= entry.subject %></td>
<% entry.postings.each do |posting| %>
    <td><%= posting.account.name %></td>
    <td><%= posting.amount %></td>
    <td><%= posting.side %></td>
  <% end %>
</tr>