<%= turbo_stream_from(order_version) %> 
<p>Profit: <%= order_version.profit %> %</p>
<p>Agent: <%= order_version.agent_comm %> %</p>
<p>Total Amount: <%= order_version.total_amount.format %> 
<div class="gap">
<p>Version Note: <%= order_version.version_note %></p>
<p>Note for client: <%= order_version.note_for_client.presence || "—" %></p>
<p>Final Version: <%= order_version.final_version ? 'Yes' : 'No' %>
<%= link_to "Make final", mark_as_final_order_version_path(order_version.order_id, order_version), class: "btn text-blue-600 text-sm", data: { turbo_method: :patch, turbo_frame: "_top" } unless order_version.final_version %>
</p>
<div class="flex items-center justify-end gap">
  <%#= link_to 'Copy', new_order_version_path(order_version.order_id, copy_from: order_version.id), class: "btn", data: {turbo_frame: "_top"} %>
  <%= button_to 'Copy', duplicate_order_version_path(order_version.order_id, order_version),
               method: :post, class: "btn", data: { turbo_frame: "_top" } %>
  <%= link_to 'Edit', edit_order_version_path(order_version.order_id, order_version), class: "btn", data: {turbo_frame: "_top"} %>
  <%= link_to 'Delete', order_version_path(order_version.order_id, order_version), class: "btn", data: { turbo_method: :delete, turbo_confirm: "Are you absolutely sure?",turbo_frame: "_top" } %>
  + pdf
  + bin

</div>
<div class="mbs-2">
  <div class="flex items-center justify-between w-full gap mbe-2">
    <h2 class="font-bold text-lg">Products included in order</h2>
    <div data-controller="dialog">
      <button type="button" class="btn" data-action="dialog#showModal">Add Product</button>
      <dialog class="dialog" data-dialog-target="menu" aria-label="Edit profile">
        <button type="button" class="btn btn--plain dialog__close" data-action="click->dialog#close">
          <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
          <span class="sr-only">Close</span>
        </button>
        <div class="dialog__content">
          <%= turbo_frame_tag(new_product(order_version), order_version.id) do %>
            <h1 class="font-bold text-4xl mbe-4">New product</h1>
            <%= render "order_versions/new_product", order_version: order_version %>
          <% end %>
        </div>
      </dialog>
    </div>
  </div>
  <div class="overflow-x-auto w-full">
  <table class="table  min-w-[1500px]">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Qty</th>
        <th style='white-space: nowrap;'>Width, m</th>
        <th style='white-space: nowrap;'>Height, m</th>
        <th style='white-space: nowrap;'>Area, m²</th>
        <th>Aluminum</th>
        <th>Glass</th>
        <th>Other</th>
        <th>Price/unit</th>
        <th>Nett</th>
        <th>Profit</th>
        <th>Amount</th>
        <th>Nett total</th>        
        <th>Profit total</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="<%= dom_id(order_version, 'products') %>">
      <%= render partial: "products/product_order_row", collection: order_version.products.with_image_variants, as: :product, cached: true %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="14">Grand Totals:</td>
        <td class="text-end">
          <%= order_version.total_profit_amount.format %>
        </td>
        <td class="text-end">
          <%= order_version.total_amount.format %>
        </td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  </div>
</div>
