<% unless @minimal_layout %>
  <h2 class="font-bold text-xl mbe-4">
    Components order - #<%= @order.id %> <%= @order.name %> <%= @version.quotation_number %>
  </h2>
<% else %>
  <h3 class="text-lg">
    <b>Order name:</b> <%= @order.name %><br>
    <b>Quotation number:</b> <%= @version.quotation_number %>
  </h3>
<% end %>

<% @grouped_components.each do |category, suppliers_hash| %>
  <div class="prose">
    <h3 class="text-lg font-semibold text-primary"><%= category.capitalize %></h3>
  </div>

  <% suppliers_hash.each do |supplier, comps| %>
    <div class="mb-4">
      <h5 class="font-semibold">
        Supplier: <%= supplier&.name || "Unknown" %>
        <% unless @minimal_layout %>
          <%= link_to "Order material", components_order_order_order_version_path(@order, @version, bare: true, supplier_id: supplier&.id, category: category),
                      target: "_blank", class: "btn btn--sm btn--primary ms-2" %>
        <% end %>
      </h5>

      <table class="table mbe-4">
        <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Code</th>
            <th>Name</th>
            <th>Color</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% comps.each_with_index do |(component, quantity), idx| %>
            <tr>
              <td><%= idx + 1 %></td>
              <td><%= image_or_placeholder(component.image, 150, 150) %></td>
              <td><%= component.code %></td>
              <td><%= component.name %></td>
              <td><%= component.color %></td>
              <td><%= quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
                