<div id="<%= dom_id client %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h3 class="font-semibold leading-none"></h3>
    <p class="text-sm text-subtle"</p>
  </div>
</div>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Tax_id</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to client.name, edit_client_path(client) %></td>
      <td><%= client.phone %></td>
      <td><%= client.email %></td>
      <td><%= client.address %></td>
      <td><%= client.tax_id %></td>
      <td>
        <%= link_to "Edit", edit_client_path(client)%>
        <%= link_to "Destroy", client, data: { turbo_method: :delete, turbo_confirm: "Are you absolutely sure?" } %>
      </td>
    </tr>
  </tbody>
</table>
