<div id="<%= dom_id product_component %>" class="flex flex-col gap">
  <%# Show component name, product_component quantaty  %>
  <div class="flex flex-col gap-half">
    <h3 class="font-medium leading-none"><%= product_component.component.code %></h3>
    <p class="text-sm"><%= product_component.quantity %></p>
  </div>
  <div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "Edit this product component", edit_product_component_path(@product, product_component), class: "btn" %>
  <%= button_to "Destroy this product component", product_component_path(id: @product), method: :delete, class: "btn" %>
</div>
</div>
