<tr>
  <td><%= i %></td>
  <td><%= product_component.component.code %></td>
  <td><%= link_to product_component.component.name, edit_product_component_path(@product, product_component)  %></td>
  <td><%= product_component.quantity %></td>
  <td><%= product_component.component.unit %></td>
  <td><%= product_component.quantity %> </td>
  <td><%= product_component.component.price %></td>
  <td><%= product_component.quantity*product_component.component.price %></td>
  <td>
    <%= link_to "Edit", edit_product_component_path(@product, product_component) %> |
    <%= link_to "Remove", product_component_path(@product, product_component), data: { turbo_method: :delete, turbo_confirm: "Are you absolutely sure?" } %>
  </td>
</tr>