<h1 class="text-xl font-bold">Defect List - <%= @defect_list.order.name %></h1>

<div class="text-sm">
  Created on: <%= @defect_list.created_at.strftime("%d.%m.%Y") %><br>
  Updated on: <%= @defect_list.updated_at.strftime("%d.%m.%Y") %>
</div>

<div class="flex flex-col gap-2">
  <div id="defect_list_items">
    <%= render partial: "defect_lists/item", collection: @defect_list.defect_list_items, as: :item %>
  </div>

  <%= form_with url: order_defect_list_defect_list_items_path(@defect_list.order), method: :post, data: { turbo_stream: true } do |form| %>
    <div class="flex gap-2 items-center">
      <%= form.collection_select :product_id, @defect_list.order.final_or_latest_version.products, :id, :name, { prompt: "Select Product" }, { class: "no-print" } %>
      <%= form.submit "Add defect", class: "btn no-print" %>
    </div>
  <% end %>
</div>
