<% content_for :title, "Balance" %>

<div class="container flex flex-col gap-6" data-controller="hotkeys" data-hotkeys-shortcut-value="Shift+n">
  <div class="flex items-center justify-between">
  <h1 class="text-3xl font-bold">Balance</h1>
  <div class="flex gap-2">
    <%= link_to "New Transaction", new_transaction_path, class: "btn btn--primary" %>
    <%= link_to "Export to PDF", balances_path(format: :pdf, from: @from, to: @to), class: "btn btn--borderless", target: "_blank" %>
  </div>
</div>


  <%= form_with url: balances_path, method: :get, local: true, class: "flex flex-wrap gap-4 items-end  mbe-4 gap" do |f| %>
    <div>
      <%= label_tag :from, "From", class: "label" %>
      <%= date_field_tag :from, @from, class: "input" %>
    </div>
    <div>
      <%= label_tag :to, "To", class: "label" %>
      <%= date_field_tag :to, @to, class: "input" %>
    </div>
    <div>
      <%= label_tag :order_id, "Project", class: "label" %>
      <%= select_tag :order_id, options_from_collection_for_select(Order.all, :id, :name, params[:order_id]), include_blank: true, class: "input" %>
    </div>
    <div>
      <%= submit_tag "Filter", class: "btn btn--primary" %>
    </div>
  <% end %>

  <div class="relative overflow-x-auto border rounded-lg mbe-4">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>Balance</th>
          <th>Type</th>
          <th>Project</th>
          <th>Comment</th>
          <th>Files</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% balance = 0 %>
        <% @transactions.each do |transaction| %>
          <% balance += transaction.amount %>
          <tr>
            <td><%= transaction.date.strftime("%d.%m.%Y") %></td>
            <td class="text-red-600"><%= transaction.amount.negative? ? number_to_currency(transaction.amount.abs) : "-" %></td>
            <td class="text-green-600"><%= transaction.amount.positive? ? number_to_currency(transaction.amount) : "-" %></td>
            <td><%= number_to_currency(balance) %></td>
            <td><%= transaction.type_id.humanize %></td>
            <td><%= transaction.order&.name || "-" %></td>
            <td><%= transaction.description || "-" %></td>
            <td>
            <% if transaction.files.attached? %>
            <h3>Прикреплённые файлы:</h3>
            <ul>
              <% transaction.files.each do |file| %>
            <li class="flex items-center gap-2">
            <%= link_to file.filename.to_s, url_for(file), class: "text-sm" %>
            <%= link_to rails_blob_path(file, disposition: "attachment"), class: "btn btn--ghost p-1" do %>
              <%= image_tag "download.svg", size: 16 %>
            <% end %>
            
<%= button_to destroy_attachment_transaction_path(transaction, file_id: file.id),
              method: :delete,
              data: { turbo_confirm: "Удалить файл?" },
              class: "btn btn--ghost p-1 text-red-600" do %>
  <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
<% end %>



            </li>
            <% end %>

              </ul>
            <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_transaction_path(transaction), class: "text-blue-600", data: {turbo_frame: "_top"} %> |
              <%= link_to "Delete", transaction_path(transaction), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-600" %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
  <tr class="font-bold text-sm bg-gray-100">
    <td class="text-end" colspan="1">Totals:</td>
    <td class="text-red-600"><%= number_to_currency(@expense || 0).gsub('-', '') %></td>
    <td class="text-green-600"><%= number_to_currency(@income || 0) %></td>
    <td class="<%= @balance.to_f < 0 ? 'text-red-600' : 'text-green-600' %>">
      <%= number_to_currency(@balance || 0) %>
    </td>
    <td colspan="5"></td>
  </tr>
</tfoot>


    </table>
  </div>

  <div class="flex items-center">
  <div class="text-sm text-subtle show@md">Displaying <%= @pagy.in %> of <%= @pagy.count %> transactions.</div>
  <div class="flex items-center mis-auto justify-end" style="column-gap: 1rem">
    <%= form_with url: pagy_url_for(@pagy, 1), method: :get, class: "flex items-center gap show@md", data: { controller: "form", action: "change->form#submit" } do |form| %>
      <%= form.label :limit, "Rows per page", class: "text-sm font-medium" %>
      <%= form.select :limit, [10, 20, 30, 40, 50], { selected: @pagy.limit }, { class: "input", style: "--input-inline-size: 70px" } %>
    <% end %>
    <div class="text-sm font-medium"><%= "Page #{@pagy.page} of #{@pagy.pages}" %></div>
    <nav class="flex items-center gap shrink-0" style="--btn-padding: .5rem;" aria-label="Pagination">
      <%= link_to pagy_url_for(@pagy, 1), class: "btn", aria: { disabled: @pagy.prev.nil? }.compact_blank do %>
        <%= image_tag "chevrons-left.svg", size: 16, aria: { hidden: true } %>
      <% end %>
      <%= link_to pagy_url_for(@pagy, @pagy.prev || @pagy.page), class: "btn", aria: { disabled: @pagy.prev.nil? }.compact_blank do %>
        <%= image_tag "chevron-left.svg", size: 16, aria: { hidden: true } %>
      <% end %>
      <%= link_to pagy_url_for(@pagy, @pagy.next || @pagy.page), class: "btn", aria: { disabled: @pagy.next.nil? }.compact_blank do %>
        <%= image_tag "chevron-right.svg", size: 16, aria: { hidden: true } %>
      <% end %>
      <%= link_to pagy_url_for(@pagy, @pagy.last), class: "btn", aria: { disabled: @pagy.next.nil? }.compact_blank do %>
        <%= image_tag "chevrons-right.svg", size: 16, aria: { hidden: true } %>
      <% end %>
    </nav>
  </div>
</div>
  

</div>
