<div id="<%= dom_id order %>" class="card flex flex-col gap">
  <div class="flex">
    <h2 class="font-bold text-2xl">#<%= order.id %></h2>
    <span class="font-bold text-2xl"><%= order.name %></span>
  </div>
  <div class="flex items-center justify-end w-full gap">
    <div class="flex items-center gap">
      <%= link_to "Quotation", quotation_preview_order_path(order), target: "_blank", class: "btn btn--primary no-print" %>
      <%= link_to "View Balance", balances_path(order_id: order.id), class: "btn text-blue-600 text-sm" %>
      <%= link_to "Edit", edit_order_path(order), class: "btn" %>
      <%= link_to "Copy", new_order_path(copy_from: order.id), class: "btn" %>
      <%= link_to "Destroy", order, class: "btn", data: { turbo_method: :delete, turbo_confirm: "Are you absolutely sure?" } %>
    </div>
  </div>
  <div class="flex flex-col gap">
    <div class="flex items-center gap">
      <span class="font-bold">Status: </span>
      <%= order.status.humanize %>
    </div>
    <div class="flex items-center gap">
      <span class="font-bold">Client:</span>
      <span><%= order.client.name %></span>
    </div>
    <div class="flex items-center gap">
      <span class="font-bold">Agent:</span>
      <span><%= order.agent.name if order.agent.present? %></span>
    </div>
    <div class="flex items-start gap-2 py-1">
    <span class="font-bold mt-1">Files:</span>&nbsp;
    <div class="flex flex-wrap gap-x-2 gap-y-1">
      <% order.files.each_with_index do |file, index| %>
        <div class="flex items-center gap-1">
          <%= link_to file.filename.to_s, rails_blob_path(file, only_path: true),
                      target: '_blank',
                      class: "text-blue-600 underline hover:text-blue-800" %>

          <%= button_to remove_file_order_path(order_id: order.id, file_id: file.id),
              method: :delete,
              form: { data: { turbo_confirm: "Delete this file?" } },
              class: "flex items-center justify-center w-5 h-5 rounded-full hover:bg-red-600 transition",
              style: "background: transparent; border: none; padding: 0;" do %>
            <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
          <% end %>

          <% unless index == order.files.size - 1 %>,&nbsp;<% end %>
        </div>
      <% end %>
    </div>
  </div>
    <div class="flex flex-col gap">
      <span class="font-bold">Order Versions</span>
      <div class="tabs" data-controller="tabs">
        <%= order_version_tabs(order, @order_versions) %>
      </div>
    </div>
  </div>
</div>
