<tr data-controller="link" data-link-href-value="<%= order_path(order) %>" class="cursor-pointer hover:bg-gray-50 transition">
  <td><%= check_box_tag "selected_ids[]", order.id, class: "checkbox", data: { action: "check-all#check", check_all_target: "dependant" } %></td>
  <td class="whitespace-nowrap"><%= order.id %></td>
  <td class="whitespace-nowrap">
    <%= link_to order, data: {turbo_frame: "_top"} do %>
      <span><%= order.name %></span>
    <% end %>
  </td>
  <td class="whitespace-nowrap">
    <div class="flex items-center gap">
      <%= image_tag status_icons[order.status], class: "icon", size: 16, aria: { hidden: true } %>
      <span><%= order.status.titleize %></span>
    </div>
  </td>
  <td class="whitespace-nowrap">
    <span><%= order.client&.name %></span>
  </td>
  <td class="whitespace-nowrap">
    <span><%= order.agent&.name %></span>
  </td>
  <td class="whitespace-nowrap">
    <span><%= order.created_at.strftime('%d.%m.%y') %></span>
  </td>
  <td class="whitespace-nowrap">
    <span><%= order.latest_version_total.format %></span>
  </td>
  <td class="whitespace-nowrap">
  <div data-dropdown-target="menu" class="hidden absolute right-0 z-50 bg-white border rounded shadow p-2">
    <%= button_tag type: "button", class: "btn btn--plain p-1", data: { action: "click->dropdown#toggle" } do %>
      <%= image_tag "ellipsis.svg", size: 16, aria: { hidden: true } %>
      <span class="sr-only">Open menu</span>
    <% end %>

    <div data-dropdown-target="menu" class="hidden absolute right-0 z-50 bg-white border rounded shadow p-2">
      <%= link_to "Edit", edit_order_path(order), data: { turbo_frame: "_top" }, class: "block px-4 py-2 hover:bg-gray-100 text-sm" %>
      <%= link_to "Delete", order_path(order), method: :delete, data: { confirm: "Are you sure?", turbo_frame: "_top" }, class: "block px-4 py-2 hover:bg-red-50 text-sm text-red-600" %>
    </div>
  </div>
</td>

</tr>