<tr data-controller="link" data-link-href-value="<%= order_path(order) %>" class="cursor-pointer hover:bg-gray-50 transition">
  <td><%= check_box_tag "selected_ids[]", order.id, class: "checkbox", data: { action: "check-all#check", check_all_target: "dependant" } %></td>
  <td class="whitespace-nowrap"><%= order.id %></td>
  <td class="whitespace-nowrap">
    <%= link_to order, data: {turbo_frame: "_top"} do %>
      <span><%= order.name %></span>
    <% end %>
  </td>
  <td class="whitespace-nowrap">
    <div class="flex items-center gap">
      <%= image_tag status_icons[order.status], class: "icon", size: 16, aria: { hidden: true } %>
      <span><%= order.status.titleize %></span>
    </div>
  </td>
  <td class="whitespace-nowrap">
    <span><%= order.client&.name %></span>
  </td>
  <td class="whitespace-nowrap">
    <span><%= order.agent&.name %></span>
  </td>
  <td class="whitespace-nowrap">
    <span><%= order.created_at.strftime('%d.%m.%y') %></span>
  </td>
  <td class="whitespace-nowrap">
    <span><%= order.latest_version_total.format %></span>
  </td>
  <td class="whitespace-nowrap">
    <%= dropdown_button(
      links: [
        { name: "View", url: order_path(order), data: {turbo_frame: "_top"} },
        { name: "Edit", url: edit_order_path(order), data: {turbo_frame: "_top"} },
        { name: "Copy", url: new_order_path(copy_from: order.id), data: {turbo_frame: "_top"} },
        :separator,
        { name: "Delete", url: order_path(order), data: { turbo_method: :delete, turbo_confirm: "Are you absolutely sure?" } }
      ]
    )
    %>
  </td>
</tr>