<div id="<%= dom_id material %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Name:</h4>
    <p class="leading-none"><%= material.name %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Price:</h4>
    <p class="leading-none"><%= material.price %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Supplier:</h4>
    <p class="leading-none"><%= material.supplier_id %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Code:</h4>
    <p class="leading-none"><%= material.code %></p>
  </div>
</div>
