<div class="flex items-center gap">
  <%= link_to "/", class: "flex items-center gap mie-2" do %>
    <%= image_tag "logo.webp", size: 40, aria: { hidden: true } %>
    <span class="font-bold">Workshop</span>
  <% end %>
  <nav class="flex items-center gap text-sm text-subtle show@md" style="--column-gap: 1rem">
    <%= link_to "Users", users_path, class: (request.path.include?("/users") ? "text-primary" : "") %>
    <%= link_to "Clients", clients_path, class: (request.path.include?("/clients") ? "text-primary" : "") %>
    <%= link_to "Agents", agents_path, class: (request.path.include?("/agents") ? "text-primary" : "") %>
    <%= link_to "Components", components_path, class: (request.path.include?("/components") ? "text-primary" : "") %>
    <%= link_to "Products", products_path, class: (request.path.include?("/products") ? "text-primary" : "") %>
    <%= link_to "Projects", orders_path, class: (request.path.include?("/orders") ? "text-primary" : "") %>
    <%= link_to "Balance", balances_path, class: "nav-link" %>
  </nav>
</div>
<div class="flex items-center gap">
  <div class="skeleton rounded-full" style="height: var(--size-12); width: var(--size-12);"></div>
</div>