<div class="hide@md" data-controller="dialog">
  <button class="btn btn--icon" data-action="dialog#showModal">
    <%= image_tag "menu.svg", size: 20, aria: { hidden: true } %>
    <span class="sr-only">Open menu</span>
  </button>
  <dialog class="sheet sheet--left" data-dialog-target="menu" data-action="click->dialog#closeOnClickOutside">
    <button class="btn btn--plain sheet__close" data-action="click->dialog#close">
      <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
      <span class="sr-only">Close</span>
    </button>
    <div class="sheet__content flex flex-col items-start gap">
      <a href="/" class="font-bold mb-4">Dashboard</a>
      <nav class=" text-sm text-subtle flex flex-col items-start gap gap-half">
        <%= link_to "Users", users_path, class: mobile_menu_button_class(users_path)  %>
        <%= link_to "Clients", clients_path, class: mobile_menu_button_class(clients_path) %>
        <%= link_to "Agents", agents_path, class: mobile_menu_button_class(agents_path) %>
        <%= link_to "Components", components_path, class: mobile_menu_button_class(components_path) %>
        <%= link_to "Product templates", products_path, class: mobile_menu_button_class(products_path) %>
        <%= link_to "Projects", orders_path, class: "nav-link", class: mobile_menu_button_class(products_path)  %>
        <%= link_to "Balance", balances_path, class: "nav-link", class: mobile_menu_button_class(products_path)  %>
        <%= link_to "Stock", materials_path, class: "nav-link", class: mobile_menu_button_class(products_path)  %>
        <%= link_to "Suppliers", suppliers_path, class: "nav-link", class: mobile_menu_button_class(products_path)  %>

      </nav>
    </div>
  </dialog>
</div>
