<tr data-controller="dialog" data-action="click->dialog#showModal" class="cursor-pointer hover:bg-gray-50 transition">
  <td><%= image_or_placeholder(product.image, 100, 150) %></td>
  <td>
    <%= product.name %>
    <dialog class="dialog" data-dialog-target="menu"  style="--max-i-lg: fit-content;" data-action="click->dialog#closeOnClickOutside">
      <button type="button" class="btn btn--plain dialog__close" data-action="click->dialog#close">
        <%= image_tag "x.svg", size: 16, aria: { hidden: true } %>
        <span class="sr-only">Close</span>
      </button>
      <div class="dialog__content">
        <%= turbo_frame_tag product, src: product_path(product), loading: "lazy" do %>
          <div class="flex flex-col gap">
            <div class="skeleton rounded-lg" style="height: 300px; width: 300px;"></div>
          </div>
        <% end %>
      </div>
    </dialog>
  </td>
  <td><%= UnitConverter.mm_to_m(product.width) %></td>
  <td><%= UnitConverter.mm_to_m(product.height) %></td>
  <td><%= product.area_m2 %></td>
  <td>Alumimium price</td>
  <td>Glass price</td>
  <td>Other prices</td>
  <td class="text-end">Should be SUM of all cats <%= product.price.format %></td>
</tr>
