<div id="<%= dom_id product %>" class="flex flex-col gap">
  <div class="flex justify-center">
    <%= product.image.attached? ? image_or_placeholder(product.image, 200, 200) : "No image" %>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Name:</h4>
    <p class="leading-none"><%= product.name %></p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Quantity:</h4>
    <p class="leading-none"><%= product.quantity %></p>
  </div>

  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Width:</h4>
    <p class="leading-none"><%= UnitConverter.mm_to_m(product.width) %> m</p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Height:</h4>
    <p class="leading-none"><%= UnitConverter.mm_to_m(product.height) %> m</p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Area: </h4>
    <p class="leading-none"><%= product.area_m2 %> m² / <%= product.area_ft2 %> ft²</p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Perimeter: </h4>
    <p class="leading-none"><%= UnitConverter.mm_to_m(product.perimeter) %> m</p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Comment:</h4>
    <p class="leading-none"><%= product.comment %></p>
  </div>
  <div class="flex justify-between">
    <h4 class="font-medium leading-none">Price: </h4>
    <p class="leading-none"><%= product.price.format %></p>
  </div>
</div>
