<%= turbo_frame_tag @product, target: "_top" do %>
  <%= render "products/product", product: @product %>
  <div class="flex items-center justify-between mb-4">
    <h3 class="text-lg">Components</h3>
    <%= link_to "Add component", new_product_component_path(@product), class: "btn btn-sm btn--primary self-end", data: {turbo_frame: "_self"} %>
  </div>
  <div class="flex flex-col" style="gap: 2rem;">
    <% @product.product_components.each do |product_component| %>
      <div class="flex flex-col gap">
        <%= render product_component %>
      </div>
    <% end %>
  </div>
  <div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
    <%= link_to "Edit this product", edit_product_path(@product), class: "btn" %>
    <%= link_to "Back to products", products_path, class: "btn" %>
    <%= link_to "Destroy this product", @product, class: "btn", data: { turbo_method: :delete, turbo_confirm: "Are you absolutely sure?" } %>
  </div>
<% end %>