<!DOCTYPE html>
<html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Quotation" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "css-zero/reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/utilities", "data-turbo-track": "reload" %>
  </head>

  <body class="text-center" style="padding: 1rem;">
    <div class="print_layout">
      <div class="no-print" style="text-align: right; margin-bottom: 1rem;">
        <button onclick="window.print()" class="btn btn--primary">🖨 Print or save as PDF</button>
      </div>
      <small class="no-print" style="display: block; text-align: right; margin-bottom: 1rem;">
        <em>⚠️ In the print dialog, uncheck "Headers and footers" to remove page info.</em>
      </small>
      <div class="no-print" style="margin-bottom: 1rem; text-align: right;">
        <%= form_with url: add_custom_code_order_path(@version.order, version_id: @version.id), method: :patch, local: true do %>
          <label>Custom Code:</label>
          <%= text_field_tag :custom_code, @version.quotation_custom_code, placeholder: "e.g. 17" %>
          <%= submit_tag "Apply", class: "btn btn--primary" %>
        <% end %>
      </div>
      <div class="a4-page">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
