<!DOCTYPE html>
<html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Document" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "css-zero/reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/variables", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "css-zero/utilities", "data-turbo-track": "reload" %>
  </head>

  <body class="text-center" style="padding: 1rem;">
    <%= yield %>
  </body>
</html>
