<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Quotation" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", defer: true %>

    <style>
      @media print {
        .no-print {
          display: none;
        }
      }
      body {
        font-family: "Noto Sans", sans-serif;
        font-size: 12px;
        margin: 2rem;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
